# ===============================
# ENV / SECRETS
# ===============================
.env
.env.*
*.env

# ===============================
# DEPENDENCIES
# ===============================
node_modules/

# ===============================
# LOGS
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# ===============================
# BUILD / DIST
# ===============================
dist/
build/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / EDITORS
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# CACHE
# ===============================
.cache/
.tmp/

# ===============================
# VOSK MODELS
# ===============================
models/